.solution__step-title {
    font-size: 3.5rem;
    color: #f9ff00;
}

.boaforms .register-btn, .boaforms .cancel-btn {
    background: #41ca04 !important;
    color: white !important;
    border-color: #266f05 !important;
    text-shadow: 0 0 6px black;
}

.form-div {
    max-width: 555px;
    margin-bottom: 14px;
    border: 1px solid var(--second-color);
    border-radius: 10px;
}

.formhere {
    max-width: 567px;
}

#form-element-1, #form-element-2 {
    background: #090958;
    margin: 0;
    margin-bottom: 24px;
}

#form-element-2 {
    display: block;
    max-width: 567px;
}

.solution__steps h2 {
    color: white;
}
/* 
.promo__middle-left {
    width: 25%;
} */

.partner-item__hover {
    top: 50%;
    left: 0;
    width: 100%;
}

.partner-item {
    width: 33%;
}

.footer__content {
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.overlay-vid {
    background-color: rgba(211, 215, 225, .3);
    content: "";
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 20;
    animation: fadeIn .3s;
    display: none;
}

.form--email {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer__socials {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.footer__socials .socials__heading {
    font-size: 26px;
    font-size: 1.625rem;
    margin: .75em 0;
}

.footer__socials .socials__list {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.footer__socials .socials__link {
    display: block;
}

.footer__socials .socials__icon {
    display: block;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50%;
}

.icon--medium {
    background-image: url(../images/medium-white.2a662278.svg);
}

.footer__bottom {
    border-top: 1px solid #8998ff;
    padding-top: 34px;
    color: #8998ff;
    display: flex;
    text-align: center;
    justify-content: space-between;
}

footer .footer_disclaimer {
    color: #8998ff;
    font-size: 12px;
    padding-top: 20px;
}

.footer__bottom .bottom__col {
    padding: 8px 0;
}

.footer__bottom .bottom__link {
    font-weight: 400;
}

.icon--facebook {
    background-image: url(../images/facebook-white.b9a49c49.svg);
}

.icon--linkedin {
    background-image: url(../images/linkedin-white.c6787e86.svg);
}

.icon--twitter {
    background-image: url(../images/twitter-white.08063b9b.svg);
}

.icon--reddit {
    background-image: url(../images/reddit-white.33d62f4a.svg);
}

.icon--telegram {
    background-image: url(../images/telegram-white.19260477.svg);
}

.icon--bitcoin {
    background-image: url(../images/bitcoin-white.31808d4d.svg);
}

.icon--youtube {
    background-image: url(../images/youtube-white.41e37516.svg);
}

.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
}

.embed-container iframe, .embed-container object, .embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.modal-join {
    left: 50%;
    top: 50% !important;
    transform: translate(-50%, -50%);
    overflow-y: auto;
    max-height: 90vh;
    width: 95vw;
    position: absolute;
}

.promo__svg .play-btn-wrap {
    position: absolute; 
    width: 24%;
    height: 8%;
    left: 36%;
    top: 41%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.promo__svg .play-btn-wrap .pointer {
    -webkit-animation: opacity .8s step-end .8s infinite;
    animation: opacity .8s step-end .8s infinite;
}

.promo__svg:hover .play-btn-wrap svg {
    transition: all .3s;
}

.promo__svg:hover .play-btn-wrap svg {
    transform: scale(1.05);
}

#light, .cls-25, #light-1, .cls-42 {
    opacity: 0;
    -webkit-animation: lightAnimation15 6s ease-out .6s infinite;
    animation: lightAnimation15 6s ease-out .6s infinite;
}

#platform-1, .cls-16, .cls-18, .cls-29, .cls-28, .cls-21, .cls-23, .cls-22 {
    -webkit-animation: up-down 3s ease-out .8s infinite;
    animation: up-down 3s ease-out .8s infinite;
}

.cls-40 {
    fill: #4da725;
    -webkit-animation: greenanim 8s ease-out .8s infinite;
    animation: greenanim 8s ease-out .8s infinite;
}

.ios-button__text span:last-of-type {
    /* color: #3eff00; */
    font-size: 24px;
    text-transform: uppercase;
    /* -webkit-animation: blinking .4s step-end .4s infinite;
    animation: blinking .4s step-end .4s infinite; */
}

.ios-button {
    background-color: transparent;
}

div.triangle-item {
    display: none;
}

.solution__top-wrap {
    margin-top: 3.5rem;
    width: 100%;
    padding-bottom: 20px;
}

@media (max-width: 992px) {
    .promo__middle {
        flex-direction: column-reverse;
    }
    .promo__middle-left {
        width: 100%;
    }
    #form-element-1 {
        margin: 0 auto;
    }
}

@keyframes blinking {
    0% {
        color: #3eff00;
    }
    50% {
        color: red;
    }
    100% {
        color: #3eff00;
    }
}

@keyframes up-down {
    0% {
        transform: translate(-6px, 0);
    }
    50% {
        transform: translate(-6px, -10px);
    }
    100% {
        transform: translate(-6px, 0);
    }
}

@keyframes up-down2 {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-8px);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes opacity {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes lightAnimation15 {
    0% {
        opacity: 0
    }
    50% {
        opacity: .9
    }
    to {
        opacity: 0
    }
}

@keyframes greenanim {
    0% {
        fill: #4da725;
    }
    50% {
        fill: #54dc18;
    }
    to {
        fill: #4da725;
    }
}

@media (max-width: 61.25em) {
    .section.advisors {
        padding-top: 4.5rem !important;
    }
    /* .swiper-wrapper {
        flex-direction: column;
    } */
    .advisor-item {
        width: 100%;
    }
    .partners__wrap {
        flex-direction: column;
    }
    .partner-item {
        min-height: 110px;
    }
    .partner-item {
        width: 100%;
    }
    .footer__content {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .footer__socials {
        align-items: center;
        margin: 30px auto;
    }
    .footer__socials .socials__list {
        justify-content: center;
        flex-wrap: wrap;
    }
    .footer__socials .socials__link {
        flex: 1 0 25%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .footer__socials .socials__icon {
        background-size: 37px 37px;
        width: 37px;
        height: 37px;
        padding: 30px 0;
    }
}

@media (min-width: 61.25em) {
    .footer__socials {
        width: 40%;
    }
    .form--email {
        width: 60%;
    }
    .footer__socials {
        margin-bottom: 25px;
    }
    .footer__socials .socials__list {
        margin-top: 10px;
    }
    .footer__socials .socials__icon {
        width: 25px;
        height: 25px;
    }
}

@media (min-width: 992px) {
    .promo__middle-right {
        margin-top: 116px;
        margin-bottom: 55px;
    }
}

@media (max-width: 768px) {
    .footer__bottom {
        flex-direction: column;
    }
    .solution__item {
        position: inherit
    }
}

.video {
    width: 100%;
    max-width: 100%;
    position: relative;
    overflow: hidden;
    background: #000;
    box-shadow: 10px -10px 15px rgba(0, 0, 0, 0.1);
}

.video::before {
    content: "";
    width: 100%;
    display: block;
    padding-bottom: 56%;
}

.hero-video__settings {
    position: absolute;
    color: #fff;
    display: flex;
    flex-direction: column;
    max-width: 150px;
    top: 50%;
    left: 50%;
    z-index: 5;
    transform: translate(-50%, -50%);
}

.hero-video__settings .up_sound {
    text-align: center;
    z-index: 5;
    color: #fff;
    background-color: #000000ad;
    font-size: 21px;
    cursor: pointer;
    display: none;
}

.hero-video__settings #volume_up {
    z-index: 5;
    opacity: 0.8;
    cursor: pointer;
    width: 100%;
    height: auto;
    display: none;
}

.video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.video .anticlicker {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 4;
}

.header-person {
    display: flex;
    align-items: center;
    justify-content: center;
}

.won-info {
    padding: 4px;
}

.person-text--name {
    font-weight: bold;
    background: #5c24d7;
    color: #fff;
}

.header-person .person-text {
    margin-left: 20px;
    line-height: 1.6;
}

.header-person .person-image img {
    min-width: 50px;
    border-radius: 50%;
    color: #fff;
    width: 62px;
}

.currency {
    padding: 0;
}

@media (max-width: 450px) {
    .header__wrapper {
        padding-top: 10px;
    }
}



.footer__bottom {
    border-top: 1px solid var(--accent-color);
    box-shadow: 0 0 10px var(--accent-color);
    color: var(--accent-color);
    justify-content: space-evenly;
    align-items: center;
    padding: 20px 10px;
    background-color: var(--bg-color);
}

.footer__bottom a {
    color: var(--accent-color);
    text-decoration: none;
}

.footer {
    padding-bottom: 0;
}

@media (max-width: 575px) {
    .header__auth {
        font-size: 12px;
    }
    .header__logo {
        max-width: 250px;
        /* margin-right: 0; */
    }
    .header__wrapper {
        margin: 0 auto;
        justify-content: space-between;
    }
}

@media (max-width: 355px) {
    .header__logo svg {
        max-width: 250px;
        margin-right: 20px;
    }
    .header__hamburger, .header__auth {
        margin-right: 0;
    }
    .header__logo:after {
        right: 1em;
    }
}