.form {
  width: 100%;
  box-sizing: border-box;
  padding: 15px;
  margin: 0 !important;
  color: #fff;
  position: relative;
  border-radius: 10px;
  -webkit-backdrop-filter: blur(3px);
  background-color: rgba(255, 255, 255, 1);
  backdrop-filter: blur(3px);
  background-color: rgba(255, 255, 255, 0.1);
}
.form:before {
  content: "";
  position: absolute;
  z-index: -1;
  inset: 0;
  filter: blur(10px);
  border-radius: 10px;
}

.form--controlWrapper {
  margin-bottom: 18.8px;
  position: relative;
  vertical-align: middle;
  background-image: none;
  border-radius: 4px;
  border-color: #a94442;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.form--controlWrapper-half {
  width: 100%;
}

.form--title {
  font-family: Roboto, sans-serif;
  font-weight: 500;
  text-align: center;
  color: #fff;
  font-size: 28px;
  text-transform: uppercase;
  margin: 0;
}

.form--top {
  margin: 0;
  padding: 3px 0 33px 0;
}

.form--title-yellow {
  color: #fafafa;
}

.form--row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.form--input {
  width: 100%;
  border: none;
  box-sizing: border-box;
  border-radius: 3px;
  height: 37.7px;
  color: #fff;
  background-color: transparent;
  padding: 12px 30px 12px 10px;
  text-overflow: ellipsis;
  outline-style: none;
}

.input--wrapper {
  position: relative;
}

.input--wrapper::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: var(--second-color);
  border-radius: 25px;
  transition: all 0.1s ease-in;
}

.input--wrapper:hover::after {
  background-color: var(--third-color);
}

.form--input:focus::after {
  border: 1px solid var(--accent-color);
}

.form--floatingLabel {
  position: absolute;
  z-index: 1;
  transition: 0.3s ease all;
  font-size: 10px;
  line-height: 10px;
  color: #fff;
  pointer-events: none;
  left: 0;
  text-align: left;
  top: -13px;
  padding: 1px 3px;
  outline-style: none;
}

.form--input:placeholder-shown:not(:focus) ~ .form--floatingLabel {
  top: 0.6em;
  font-style: normal;
  color: #fff;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  text-align: left;
  background-color: transparent;
}

.form--row-pass {
  justify-content: center;
}

.form--row-pass label.error {
  display: none !important;
}

.password {
  width: 66.6%;
  border-radius: 3px 0 0 3px;
}

.form--btnPasword {
  width: 33.4%;
  border-radius: 0 3px 3px 0;
  box-sizing: border-box;
  height: 37.7px;
  border: none;
  outline-style: none;
  cursor: pointer;
  font-weight: bold;
  font-size: 9px;
  line-height: 11px;
  text-align: center;
  /* text-transform: uppercase; */
  font-family: inherit;
  border: 2px solid #fff;
  background-color: #fff;
  transition: color 0.5s ease, background 0.5s ease;
  color: #090958;
  text-transform: uppercase;
}

.form--btnPasword:hover {
  color: #000;
  background-color: transparent;
}

.form .form--btn {
  width: 100%;
  line-height: 100%;
  margin: 0 auto;
  padding: 0;
  display: block;
  box-sizing: border-box;
  font-weight: 400;
  color: #fff;
  font-size: 14px;
  background-color: transparent;
  border: 1px solid var(--third-color);
  box-shadow: 0 0 10px var(--third-color);
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  transition: all 0.2s ease-in;
  background-color: var(--third-color);
  position: relative;
}

.preloader {
  display: none;
  background: white;
  position: absolute;
  top: 0%;
  bottom: 0;
  left: 0%;
  right: 0;
  z-index: 9995;
  background-image: url(../images/preloader.gif);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  opacity: 0.5;
  border-radius: 2px;
}

.phone::placeholder {
  font-size: 12px;
  font-weight: bold;
  line-height: 12px;
  color: rgba(250, 250, 255, 0.5);
  font-style: italic;
}

.form--input::placeholder {
  color: #fff;
}

.flag-container {
  background: transparent;
  border-radius: 3px 0px 0px 3px;
  height: 37.7px;
  color: #fff;
  z-index: 3;
}

.selected-dial-code {
  font-weight: 700;
}

label.error {
  position: absolute;
  top: 35.7px;
  right: 0;
  z-index: 2;
  width: 75%;
  background: #ff0000 url(../images/form-attention.svg) no-repeat;
  color: #fafaff;
  font-size: 10px;
  padding: 5px 5px 5px 35px;
  background-position: 10px 50%;
  background-size: 16px;
  border-radius: 0 0 3px 3px;
}

.form--controlWrapper-half label.error {
  width: 100%;
  box-sizing: border-box;
}

input.error {
  background: rgba(255, 0, 0, 0.3) !important;
  border: 2px solid #ff0000 !important;
  padding-right: 30px !important;
  text-overflow: ellipsis;
  -webkit-background-size: 13px 10px !important;
  background-size: 13px 10px !important;
}

input.valid {
  background: transparent url(../images/form-valid-colored.svg) no-repeat 95% !important;
  border: 2px solid #39b54a !important;
  padding-right: 30px !important;
  text-overflow: ellipsis;
}

.valid-block {
  position: absolute;
  background: #fafaff;
  border: 1px solid #ff003c;
  box-sizing: border-box;
  z-index: 9996;
  top: 36px;
  width: 100%;
  border-radius: 2px;
}

.valid-check {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.valid-check label {
  color: #f90201;
  padding: 5px 25px;
  position: relative;
  text-align: left;
  font-family: inherit;
  font-size: 10px;
  line-height: 1;
  margin: 0;
}

.valid-check.check label {
  color: #39b54a !important;
}

.valid-check label::before {
  content: "";
  display: block;
  position: absolute;
  top: 5px;
  left: 8px;
  width: 12px;
  height: 11px;
  background-image: url(../images/form-invalid.svg);
  background-size: 80%;
  background-position: 50%;
  background-repeat: no-repeat;
}

.valid-check.check label::before {
  content: "";
  display: block;
  position: absolute;
  top: 5px;
  left: 8px;
  width: 12px;
  height: 11px;
  background-image: url(../images/form-valid.svg);
  background-size: 80%;
  background-position: 50%;
  background-repeat: no-repeat;
}

.form .checkbox-svg a {
  color: inherit;
  text-decoration: none;
}

.privacy-checkbox p {
  padding-top: 5px;
  color: #fafafa;
}

@media (max-width: 767px) {
  .form {
    box-shadow: none;
    padding: 20px 15px;
    border: none;
  }
  .form--title {
    font-weight: 900;
    font-size: 32px;
    line-height: 37px;
  }
  .form--title br {
    display: none;
  }
  .form--input:placeholder-shown:not(:focus) ~ .form--floatingLabel {
    top: 1em;
    text-align: left;
  }
  .form--controlWrapper {
    margin-bottom: 20px;
  }
  .form--btnPasword {
    font-size: 16px;
    line-height: 19px;
  }
  .form .form--btn {
    font-size: 31.2px;
    line-height: 37px;
  }
  .checkbox-svg p {
    font-size: 10.4px;
    line-height: 12px;
  }
  .checkbox-svg {
    padding-left: 16px;
  }
  .dataSafe--img {
    width: 62px;
  }
  .dataSafe--msg {
    width: calc(100% - 72px);
    font-size: 10px;
    line-height: 12px;
  }
  .privacy-checkbox {
    padding-left: 9% !important;
  }
}

@media (max-width: 576px) {
  .form--input {
    height: 60px;
    font-size: 20px;
  }
  label.error {
    top: 58px;
  }
  .form--btnPasword {
    height: 60px;
  }
  .flag-container {
    height: 60px;
  }
  .valid-block {
    top: 58px;
  }
  .btn.form--btn {
    height: 90px;
  }
  .form--input:placeholder-shown:not(:focus) ~ .form--floatingLabel {
    font-size: 20px;
    line-height: 18px;
  }
  .phone::placeholder {
    font-size: 20px;
    line-height: normal;
  }
  input.error {
    background-position-x: 97.5% !important;
  }
  .checked-svg svg {
    width: 32px !important;
    height: 32px !important;
  }
  .valid-check label {
    font-size: 15px;
  }
}

@media (max-width: 425px) {
  .form--input:placeholder-shown:not(:focus) ~ .form--floatingLabel {
    font-size: 16px;
    line-height: 18px;
    top: 20px;
  }
  .form--title {
    font-size: 26px;
    line-height: 30px;
  }
  .privacy-checkbox {
    padding-left: 11.5% !important;
  }
}

@media (max-width: 400px) {
  .form--input:placeholder-shown:not(:focus) ~ .form--floatingLabel {
    font-size: 14px;
    line-height: 18px;
    top: 20px;
  }
  .form--btnPasword {
    line-height: 13px;
    font-size: 10px;
  }
}

.form .form--btn {
  position: relative;
  display: block;
  height: 50px;
  padding: 10px 20px;
  margin: 0 auto;
  color: #03e9f4;
  font-size: 16px;
  text-transform: uppercase;
  overflow: hidden;
  transition: 0.5s;
  background: transparent;
  color: var(--third-color);
  border: 1px solid var(--third-color);
  box-shadow: 0 0 5px var(--third-color), 0 0 15px var(--third-color),
    0 0 20px var(--third-color), 0 0 30px var(--third-color);
  background: var(--third-color);
  color: #fff;
  border-radius: 5px;
}

.form-div {
  max-width: 350px;
}
